:root {
    --color-ocean: #64a9eb;
    --color-beach-start: #64a9eb;
    --color-beach-end: #d3c78c;
    --color-grass-start: #66ae60;
    --color-grass-end: #374b2e;
    --color-mountain-start: #715239;
    --color-mountain-end: #3e352d;
    --color-volcano-surface: #ca532b;
    --color-volcano-deep: #d6b445;
    --loader-size: 18px;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-ocean);
    display: flex;
    flex-direction: column;
}

#wrapper #canvas-wrapper {
    flex-grow: 1;
}

#wrapper #canvas-wrapper #div-renderer {
    position: absolute;
    overflow: hidden;
}

#wrapper #canvas-wrapper #div-renderer #slice-container {
    transform-origin: left top;
}

#wrapper #canvas-wrapper #div-renderer #slice-container .slice {
    position: absolute;
    transform-origin: left top;
}

#wrapper #canvas-wrapper #renderer {
    position: absolute;
}

#wrapper #loader {
    background-color: #585858;
    width: 100%;
    height: var(--loader-size);
    border-top: 1px solid var(--color-mountain-end);
}

#wrapper #loader #loaded {
    width: 0;
    height: 100%;
    background-color: var(--color-grass-start);
    border-right: 1px solid var(--color-mountain-end);
}

#wrapper #controls-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    user-select: none;
}

#wrapper #controls-wrapper #controls {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.62);
    padding: 8px;
}

#wrapper #controls-wrapper #controls select {
    width: 100%;
}

#wrapper #controls-wrapper #controls button {
    width: 100%;
}