:root {
    --color-ocean: #64a9eb;
    --color-beach-start: #64a9eb;
    --color-beach-end: #d3c78c;
    --color-grass-start: #66ae60;
    --color-grass-end: #374b2e;
    --color-mountain-start: #715239;
    --color-mountain-end: #3e352d;
    --color-volcano-surface: #ca532b;
    --color-volcano-deep: #d6b445;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-ocean);
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}

#wrapper #loader {
    background-color: #b7504a;
    width: 100%;
    height: 24px;
    bottom: 0;
    position: absolute;
    border-top: 1px solid var(--color-mountain-end);
}

#wrapper #loader #loaded {
    height: 100%;
    background-color: #45bf44;
}